body.dark-mode {
  background-color: #121212;
  color: white;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.3s, color 0.3s;
}

#btnToggleSidebar {
  display: none;
}


/* SIDEBAR sempre escura */
.sidebar {
  min-height: 100vh;
  background-color: #343a40 !important;
  color: white !important;
  position: fixed;
  width: 250px;
  z-index: 1040;
  /* se sobrepõe ao conteúdo */
}


/* Links da sidebar */
.sidebar a {
  color: white !important;
  text-decoration: none;
  display: block;
  padding: 10px;
  transition: background-color 0.3s;
}

/* Hover */
.sidebar a:hover {
  background-color: #495057 !important;
}

/* DROPDOWN da sidebar (sempre escuro) */
.sidebar .dropdown-menu {
  background-color: #343a40 !important;
  border: 1px solid #495057;
  z-index: 9999 !important;
  /* sobreposição garantida */
  position: absolute !important;
  left: 100%;
  /* abre para a direita */
  top: 0;
  margin-left: 0.25rem;
  min-width: 180px;
  border-radius: 0.5rem;
}

/* Itens do dropdown */
.sidebar .dropdown-item {
  color: white !important;
}

.sidebar .dropdown-item:hover {
  background-color: #495057 !important;
}

/* Botão do dropdown */
.sidebar .dropdown-toggle {
  background-color: #495057 !important;
  color: white !important;
  border: none;
  width: 100%;
  text-align: left;
}

#calendar {
  width: 100%;
  min-height: 100vh;
}

.theme-transition {
  transition: background-color 0.5s, color 0.5s;
}

.content {
  margin-left: 250px;
  padding: 20px;
  overflow: auto;
}

.modal-content {
  transition: background-color 0.3s, color 0.3s;
}

body[data-bs-theme="dark"] .modal-content {
  background-color: #1e1e1e;
  color: #ffffff;
}

body[data-bs-theme="light"] .modal-content {
  background-color: #ffffff;
  color: #000000;
}

.card:hover {
  transform: scale(1.01);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.card-subtitle {
  font-size: 0.85rem;
}